	<body id="page4">
        	                            <label>
										<input type="text" name="name" value="Book Title" onBlur="if(this.value=='') this.value='Book Title'" onFocus="if(this.value =='Book Title' ) this.value=''" />
									</label>
									<label>
									    <input type="text" name="author" value="Author" onBlur="if(this.value=='') this.value='Author'" onFocus="if(this.value =='Author' ) this.value=''" />
									</label>
									
									<label>
									  <input type="text" name="price" value="Price" onBlur="if(this.value=='') this.value='Price'" onFocus="if(this.value =='Price' ) this.value=''" />
									</label>
                                     <form method ="post" action="savePicture" enctype="multipart/form-data" >
                                        <label>
									  <input type="file" name="picture" value="Picture" onBlur="if(this.value=='') this.value='Picture'" onFocus="if(this.value =='Picture' ) this.value=''" />
									</label>
                                     </form> 
									<div class="buttons-wrapper">
										
									<input type="submit" class="button" value ="Sign Up" />
									</div>		
		<script type="text/javascript"> Cufon.now(); </script>
	</body>
