@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
	 @Scripts.Render("~/bundles/jquery")
	<body id="page3">
		<section id="content">
			<div class="main">
               
			 	<div id="d" class="indent-left">
					
                     <h3>EDIT BOOKS</h3>
                     <ul>
							<li><a class="active" href="~/Admin/DeleteFiction">Edit Fiction</a></li>
							<li><a href="~/Admin/DeleteNonFiction">Edit NonFiction</a></li>
							<li><a href="~/Admin/DeleteHistory">Edit History</a></li>
							<li><a href="~/Admin/DeleteComputer">Edit ComputerScience</a></li>
							<li><a href="~/Admin/DeleteMagzine">Edit Magzine</a></li>
						</ul>
   

    
    		</div>
		</section>	
		<script type="text/javascript"> Cufon.now(); </script>
	</body>


