@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body page="4">
		<section id="content">
			<div class="main">
				<div class="indent-left">
					<h3>Gallery</h3>
					<div class="wrapper margin-bot">
						<article class="col-1">
							<div class="prev-indent-bot">
								<figure class="img-border"><a href="#"><img src="~/images/Fiction/Owls.jpg" alt="" /></a></figure>
								<div class="clear"></div>
							</div>
							<h6>Fiction Books</h6>
							<p class="p2">Find here the best seller, latest books.</p>
							<a class="button" href="~/Home/fiction">Read More</a>
						</article>
						<article class="col-1">
							<div class="prev-indent-bot">
								<figure class="img-border"><a href="#"><img src="~/images/ChinaTownWar.jpg" alt="" /></a></figure>
								<div class="clear"></div>
							</div>
							<h6>History</h6>
							<p class="p2">A great collection of historic books.</p>
							<a class="button" href="~/Home/history">Read More</a>
						</article>
						<article class="col-2">
							<div class="prev-indent-bot">
								<figure class="img-border"><a href="#"><img src="~/images/Non-Fiction/KiteRunner.jpg" alt="" /></a></figure>
								<div class="clear"></div>
							</div>
							<h6>Non-Fiction</h6>
							<p class="p2">Close to reality,Buy latest and best sellers here.</p>
							<a class="button" href="~/Home/nonfiction">Read More</a>
						</article>
					</div>
					<div class="wrapper margin-bot">
						<article class="col-1">
							<div class="prev-indent-bot">
								<figure class="img-border"><a href="#"><img src="~/images/CS/text_3.jpg" alt="" /></a></figure>
								<div class="clear"></div>
							</div>
							<h6>Computer Science</h6>
							<p class="p2">Find latest technology related books.</p>
							<a class="button" href="~/Home/computer">Read More</a>
						</article>
						<article class="col-1">
							<div class="prev-indent-bot">
								<figure class="img-border"><a href="#"><img src="~/images/mag_2.jpg" alt="" /></a></figure>
								<div class="clear"></div>
							</div>
							<h6>Magzines</h6>
							<p class="p2">Find Latest Magzines Here.</p>
							<a class="button" href="~/Home/magzine">Read More</a>
						</article>
						
					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript"> Cufon.now(); </script>
    </body>